# Dependências
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock

# Ambiente
.env
.env.local
.env.production
.env.*.local

# Build
dist/
build/
.output/

# Vercel
.vercel

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporários
tmp/
temp/
*.tmp

# Testes
coverage/
.nyc_output/
